.content{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.4em;
    letter-spacing: 0.05em;
    color : green;

    text-align: justify;
}
i{
    color: grey;
    font-size: 50px;
}
a{
    text-decoration: none;
}
.facebook:hover{
    color: #3C5A98;
}
.you__tube:hover{
    color: #FF0000;
}
.insta:hover{
    border-radius: 15px;
    color: #fff;
    background : radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}
.pint:hover{
    color: #E00022;;
}